@{
    ViewBag.Title = "Confirm Email";
}

<div class="contact-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 contact-left">
                <h2>@ViewBag.Title</h2>
                <br />

                <div class="form-horizontal">
                    @*<h4>An error occurred while processing your request.</h4>
                        <hr />*@

                    <div class="container">
                        <span>Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
